
/*
.gallery-container
    .gallery
        .gallery-case-item ...
    .gallery
        .gallery-leadership-item...
    .gallery
        .gallery-item ...
*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 30px;
  margin-left: -10px;
  margin-top: -10px;
}

.gallery-case-item, .gallery-leadership-item, .gallery-item {
  flex: 1;
  flex-basis: 300px; /* 2 columns */
  margin-left: 10px;
  margin-top: 10px;
  background-color: #F5F5F5;

}


.gallery-leadership-item, .gallery-item {
  flex-basis: 200px; /* 3 columns */
}
.header-extended {
  color: gray;
  font-size: 1em;
  margin-bottom: 2em;
}

.header-extended p {
  /*font-family: 'Space Mono', monospace;*/
  color: lightgray;
  font-size: 1em;
}

/* Post header */
.team, .tools, .languages, .categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.team li, .tools li, .languages li, .categories li {
  display: inline;
  font-size: 0.8em;
  color: white;
  border-radius: 3px;
  padding: 3px;
}

.tools li {
 background-color: #2ABB9B;
 border: 1px solid #2ABB9B;

}

.languages li {
  background-color: #DB0A5B;
  border: 1px solid #DB0A5B;
}

.categories li {
  background-color: lightgray;
  border: 1px solid lightgray;
}

.post-link {
font-size: 1em;
padding-top: 10px;
padding-left: 2px;
}
/*
 * DELETE ME LATER
 * Typography
 *
 *

 .post-link {
   font-family: 'Roboto';
   font-size: 1em;
 }


h1,
h2
{
    font-family: 'Proxima Nova', serif;
    font-weight: 600;
    color: #444;
}

h3,
h4,
h5,
h6,
{
  font-family: 'Proxima Nova';
  font-weight: 600;
}

p {
    font-family: 'Proxima Nova';
    color: #444;
}

body {
    background-color: snow;
    line-height: 1.5;
    overflow-x: hidden;
}*/
