/*.gallery-container {
  display: flex;
  justify-content: flex-start;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.gallery-item {
  flex: 1;
}

.gallery-thumbnail {

}

.center-img {
  display: flex;
  justify-content: center;
}
*/

/*

.gallery-container {
  display: flex;
}

.gallery, .gallery-2 {
  flex: 1;
  border: 1px solid blue;
  margin: 1px;

  display: flex;
  flex-wrap: wrap;
}

*/

.gallery-container {
  display: flex;

}

.gallery {
  /*border: 1px solid purple;*/
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.gallery-item {
  /*border: 1px solid blue;*/
  margin: 1px 1px 1px 1px;
  flex: 1;
  flex-basis: 300px;
  background-color: orange;
}
