---
layout: default
---

<div class="home">

<!--  <h1 class="page-heading">Case Studies</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% if post.thumbnail %}
          <img src=" {{ post.thumbnail }} " />
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
-->


<!--
.galler-container
    .gallery
      .post
-->

<div class="gallery-container">
  <div class="gallery">
    {% for post in site.posts %}
      <div class="gallery-item">
        {% if post.thumbnail %}
          <img class="gallery-thumbnail" src=" {{ post.thumbnail }} " />
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </div>
    {% endfor %}
  </div>
</div>
