---
layout: default
---

<div class="home">

  {{ content }}

<div class="header-extended">
<h1>I'm a fourth year at UC Davis studying Design with a Computer Science minor.
  <br /><br />
I'm passionate about meaningful, process informed design, I like to code, and I love working with people.

</h1>
<p>I'm in the process of switching over from my old portfolio site.
  You can still visit <a href="http://sopmaq.com">sopmaq.com</a>, but this site has my most recent work!</p>
</div>

<!--
.galler-container
    .gallery
      .post
-->

  <div class="gallery-container">
    <h3>Design Case Studies</h3>
    <div class="gallery">
      {% for post in site.posts %}
        {% if post.type == "Case Study" %}
      <div class="gallery-case-item">
        <a href="{{ post.url | relative_url }}"><img class="gallery-thumbnail" src=" {{ post.thumbnail }} " /></a>
        <div class="card-caption">
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          <p>{{ post.caption }}</p>
        </div>
      </div>
        {% endif %}
      {% endfor %}
    </div>

    <h3>Leadership and Marketing</h3>
    <div class="gallery">
      {% for post in site.posts %}
        {% if post.type == "Leadership" %}
      <div class="gallery-leadership-item">
        <a href="{{ post.url | relative_url }}"><img class="gallery-thumbnail" src=" {{ post.thumbnail }} " /></a>
        <div class="card-caption">
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          <p>{{ post.caption }}</p>
        </div>
      </div>
        {% endif %}
      {% endfor %}
    </div>

    <h3>Other Design Work</h3>
    <div class="gallery">
      {% for post in site.posts %} {% if post.type == "Gallery" %}
      <div class="gallery-item">
        <a href="{{ post.url | relative_url }}"><img class="gallery-thumbnail" src=" {{ post.thumbnail }} " /></a>
        <div class="card-caption">
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          <ul class="categories">
            {% for category in post.categories %}
              <li>{{ category }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>

  </div>
