---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">

    {{ page.caption }}
<!--
  {% if page.team %}
  <ul class="team">
    {% for member in page.team %}
      <li>{{ member }}</li>
    {% endfor %}
  </ul>
  {% endif %}
-->

  {% if page.tools %}
  <ul class="tools">
    {% for tool in page.tools %}
      <li>{{ tool }}</li>
    {% endfor %}
  {% endif %}

  {% if page.languages %}
  <ul class="languages">
    {% for language in page.languages %}
      <li>{{ language }}</li>
    {% endfor %}
  {% endif %}
  </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
